@using Sandbox;
@using Marblerrific
@namespace Marblerrific.UI
@inherits PanelComponent

<root>
	<table>
		<tr>
			@for (int i = 0; i < ItemSystem.Items.Count; i++)
			{
				<td style="padding:5px; position: relative; text-align: center;">
					

					<div class="item" style=" position: relative;">
						@ItemSystem.Items[i].Icon
					</div>

					<div style="position: absolute; top: 0; left: 0; width: 40px; height: 40px; font-size: 30px; font-color: #fff">
						<img src="@(uiInputImages.getKey($"Slot{i+1}"))">
					</div>
				</td>
			}
		</tr>
	</table>
</root>


@code
{
	[Property] public ItemSystem ItemSystem { get; set; }
	[Property] public UiInputImages uiInputImages { get; set; }

	protected override void OnUpdate()
	{
		
	}

	protected override int BuildHash() => System.HashCode.Combine( ItemSystem, ItemSystem.Items.Count, uiInputImages, Input.UsingController);
}
