ItemUI
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fff0;
	font-weight: bold;
	
	padding: 20px;
	margin:0%;
	
	
	.title
	{
		font-size: 25px;
		font-family: Poppins;
		color: #fff;
	}

	.item
	{
		border-radius: 25px;
		background: #000d;
		padding: 20px;
		width: 100px;
		height: 100px;
		
		text-align: center;
		font-size: 50px;
	}

	.iconDes
	{
		position: absolute;

		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		color: #fff;
		justify-content: center;
		align-items: flex-start;
		z-index: 0;
	}
	.duration
	{
		position: absolute;

		top: 0;
		left: 0;
		right: 0;
		bottom: 120px;
		
		justify-content: center;
		align-items: flex-end;
		z-index: 2;
	}
	.itemTable
	{
		position: absolute;

		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		
		justify-content: flex-start;
		align-items: center;

		z-index: 1;
	}
}