MainMenu {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #111;
    pointer-events: all;
    flex-direction: row;
    padding: 60px;
    font-family: Poppins;
    color: #ccc;

    .center {
        position: absolute;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

        .left {
            flex-direction: column;

            > .title {
                font-size: 64px;
                font-weight: bold;
                color: orange;
            }

            > .button-list {
                margin-top: 32px;
                flex-direction: column;
                gap: 16px;
                justify-content: center;
                align-items: center;

                > .button {
                    background-color: transparent;
                    color: #aaa;
                    font-size: 32px;
                    padding: 10px;
                    border-radius: 8px;
                    cursor: pointer;
                    width: 300px;
                    flex-direction: column;
                    transition: all 0.2s ease-out;

                    &:hover {
                        background-color: #333;
                    }
                }
            }
        }
    }
}
